#flyoutMenu {
    width: 20vw;
    height: 100vh;
    /* background-color: #5c4cf1; */
    /* background-color: rgb(18, 94, 182); */
    background-color: rgb(77, 11, 153);
    /* background-color: #8A2BE2; */
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
  }
   
  #flyoutMenu.hide {
    transform: translate3d(-100vw, 0, 0);
  }
   
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
   
  #flyoutMenu h2  {
    /* color: #333; */
    color: rgb(235, 102, 102);
    margin-right: 50px;
    text-decoration: none;
    margin-top: 35px;
    justify-content: center;
  }
   
  #flyoutMenu h2 :hover {
    text-decoration: underline;
    cursor: pointer;

  }
  #flyoutMenu h3 :hover {
    cursor: pointer;

  }