.App-header {
  background-color: #282c34;
  min-height: 4vh;
  width: 100% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
}

.back-btn {
  background-color: #dfee0b;
  color: rgb(7,7,7);
  position: absolute;
  left: 0;
}

.end-session {
  background-color: #dfee0b;
  color: rgb(7,7,7);
  position: absolute;
  right: 0;
}