.App-header {
  /* background-color: #282c34; */
  background-color: rgb(74, 62, 145);
  /* background-color: rgb(248, 140, 8); */
  min-height: 4vh;
  width: 100% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
}

.back-btn {
  background-color: #dfee0b;
  color: rgb(7,7,7);
  position: absolute;
  left: 0;
}

.end-session {
  /* background-color: #dfee0b; */

  /* color: rgb(7,7,7); */
  /* color: blueviolet; */
  color: rgb(245, 162, 68);
  position: absolute;
  right: 0;
}

.end-session :hover {
  /* background-color: #dfee0b; */

  /* color: rgb(7,7,7); */
  /* color: blueviolet; */
  color: rgb(245, 162, 68);
  position: absolute;
  right: 0;
}